<div *ngIf="item">
  <div class="column1">
    {{ item.name }}
    <p>{{ item.description }}</p>
    <p>${{ item.price }}</p>
    <form [formGroup]="orderForm">
      <div [formGroup]="orderForm" class="element">
        <button (click)="incrementQuantity()">+</button>
        <input type="text" formControlName="quantity">
        <button (click)="decrementQuantity()">-</button>
      </div>
    </form>
    <button (click)="addToCart(item)">Add to cart</button>
  </div>
  <a href="/cart">View Cart</a>
  <br/>
  <!-- <button>Back to menu</button> -->
  <a href="/">Back to Menu</a>
</div>