<div class="add-item" @fade>
  <div *ngIf="item">
      <h2>{{ item.name }}</h2>
      <ng-container *ngIf="item.size">
        <p>{{ item.size }}</p>
      </ng-container>
      <p>{{ item.description }}</p>
      <p style="font-weight: bold;">${{ item.price }}</p>
      
      <form [formGroup]="orderForm">
        <div class="row">
          <div class="column1">
            <p>Quantity:</p>
          </div>
          <div class="column2">
            <div [formGroup]="orderForm" class="element">
              <input type="number" min="1" max="15" formControlName="quantity">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column1">
            <p>Sides and Extras:</p>
          </div>
          <div class="column2">
            <div class="container">
              <ul class="columnList" *ngFor="let extra of extras;">
                <div *ngIf="extra.category === category && extra.active" class="extra">
                  <input type="checkbox" (change)="checkValue(extra, $event.target.checked)">
                  <b>{{ extra.name }}</b>
                  ${{ extra.price }}
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column1">
            <p>Special Requests:</p>
          </div>
          <div class=column2>
            <div [formGroup]="orderForm" class="element">
              <textarea class="request" type="text" formControlName="request"></textarea>
            </div>
          </div>
        </div>
      </form>
      
      <button type="button" (click)="addToCart(item)">Add to order</button>
      <div class="error_message">{{ error_message }}</div>
  </div>
  <div class="buttons">
    <a class="back" id="menu-ref" href="/">Back to Menu</a> 
    <a class="cart" id="cart-ref" href="/cart">View Cart</a>
  </div>
</div>
