<div *ngIf="item">
  <div class="column1">
    {{ item.name }}
    <p>{{ item.description }}</p>
    <p>${{ item.price }}</p>
    <form [formGroup]="orderForm">
      <div [formGroup]="orderForm" class="element">
        <input type="number" min="1" max="15" formControlName="quantity">
      </div>
    </form>
    <button (click)="addToCart(item)">Add to cart</button>
    <div class="success_message">{{ success_message }}</div>
    <div class="error_message">{{ error_message }}</div>
  </div>
  <a href="/cart">View Cart</a>
  <br/>
  <a href="/">Back to Menu</a>
</div>
