<h2>Edit User</h2>

<form ngNativeValidate [formGroup]="userEditForm" (ngSubmit)="onFormSubmit()">
    <div class="success_message">{{ success_message }}</div>
    <div class="error">{{ error_message }}</div>
    <div [formGroup]="userEditForm">
        <label>username</label>
        <input type="text" formControlName="username" readonly>
    </div>
    <div [formGroup]="userEditForm">
        <label>First Name</label>
        <input type="text" formControlName="first_name" required>
    </div>
    <div [formGroup]="userEditForm">
        <label>Last Name</label>
        <input type="text" formControlName="last_name" required>
    </div>
    <div [formGroup]="userEditForm">
        <label>User Type</label>
        <select formControlName="user_type" required>
            <option value="MANAGER">Manager</option>
            <option value="WAITER">Waiter</option>
            <option value="KITCHEN">Kitchen</option>
        </select>
    </div>
    <button type="submit">Submit</button> 
  </form>
