h2 {
    text-align: center;
}

a {
    font-size:18px;
    font-family:"Segoe UI",Arial,sans-serif;
    font-weight:400;
    margin:10px 0;
    color: #352728;
}

p {
    color: #352728e0;
}

.w3-card{
    margin: auto;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    width: 400px;
    padding: 10px;
}

.w3-center{
    text-align:center;
    margin-top: 30px;
}

.w3-col{
    float:left;
    width:100%;
}

.w3-col.s6{
    color: #352728e0;
    font-weight: bold;
}

.w3-content{
    margin-left:auto;
    margin-right:auto;
}

li, ul {
    list-style: none;
    padding-left: 0;
}

.column1 {
    float: left;
    width: 75%;
}

.column2 {
    float: right;
    width: 25%;
    text-align: right;
    padding-top: 15px;
}

.column2a {
    float: right;
    width: 25%;
    text-align: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.item {
    margin: auto;
    padding: 20px;
    border-bottom: solid .5px #35272862;
}

.extra {
    margin: auto;
    padding: 10px 20px;
}




.inner {
    display: inline-block;
}

.category {
    padding: 10px;
    background: none;
}

.nav{
    margin: auto;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    width: 400px;
    padding: 10px;
}

.nav button {
    border: none;
    cursor: pointer;
    font-size: medium;
}

.nav button:active {
    background: grey;
    color: white;
}

.nav button:hover {
    background: rgba(128, 128, 128, 0.76);
    color: white;
}

.active-class {
    padding: 10px;
    color: white;
    background-color: grey;
}