<div class="w3-container" id="menu" @fade>    
    <br>   
      <div class="w3-center nav">
        <div *ngFor="let category of categories$" class="inner">
            <div *ngIf="category.active">
                
             <button [className]="id == category.id ? 'active-class' : 'category'" (click)="display(category.id)">{{ category.name }}</button>
            </div>
        </div>
      </div>
            <div class="w3-card" >
                <ul *ngFor="let item of items$">
                  <div *ngIf="category_url === item.category && item.active" class="item">
                    <div class="row">
                
                      <div class="column1">
                        <h4 style="font-weight: bold;">{{ item.name }}</h4>
                        <p>{{ item.description }}</p> 
                        <p>{{ item.size }} ${{ item.price }}</p>
                      </div>
            
                      <div class="column2">
                          <a [routerLink] = "['add', item.id]" [class.activated]="currentUrl == ''">
                              <i class="material-icons">add</i>
                          </a>
                      </div>
                    </div>
                  </div> 
                </ul>
            </div>

</div>