<div> {{catName}}
    <ul *ngFor="let item of items$" class="item">
        <div *ngIf="catUrl === item.category && item.active">
            <div class="row">
            
                <div class="column1">
                    {{ item.name }}
                    <p>{{ item.description }}</p>
                    <p>${{ item.price }}</p>
                </div>
            
                <div class="column2">
                    <a [routerLink] = "['edit-item', item.id]" [class.activated]="currentUrl == '/management/menu/category'">
                        <i class="material-icons">edit</i>
                    </a>
                    <button (click)="archiveItem( item.id )" class="archive">
                        <i class="material-icons">archive</i>
                    </button>
                    <button (click)="deleteItem( item.id )" class="delete">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
        
            </div>
        </div>
    </ul>

    <div class="line">
        <p>Archived Items:</p>
        <ul *ngFor="let item of items$" class="item">
            <div *ngIf="catUrl === item.category && !item.active">
                <div class="row2">
            
                    <div class="column1">
                        {{ item.name }}
                        <p>{{ item.description }}</p>
                        <p>${{ item.price }}</p>
                    </div>
            
                    <div class="column2">
                        <a [routerLink] = "['edit-item', item.id]" [class.activated]="currentUrl == '/management/menu/category'">
                            <i class="material-icons">edit</i>
                        </a>
                        <button (click)="unarchiveItem( item.id )" class="archive">
                            <i class="material-icons">add</i>
                        </button>
                        <button (click)="deleteItem( item.id )" class="delete">
                            <i class="material-icons">delete</i>
                        </button>
                    </div>
        
                </div>
            </div> 
        </ul>
    </div>
    

</div> 

<a [routerLink] = "['add-item', catId]" [class.activated]="currentUrl == '/management/menu/category'">Add Item</a> 