<div class = "header">
    <div class="column">
        <div class="column1">
            <a routerLink = "">
                <i class="material-icons">help</i>
           </a>
        </div>
      </div>
      <div class="column">
        <div class="column2">
          <h1>CAFE</h1>
        </div>
      </div>
      <div class="column">
        <div class="column3">
            <a routerlink = "">
                <i class="material-icons">shopping_basket</i>
            </a>
        </div>
      </div>
</div>