<div class="assistance">
    <h2>ASSISTANCE REQUEST</h2>
    <form ngNativeValidate [formGroup]="assistanceForm" (ngSubmit)="onFormSubmit()">
        <div [formGroup]="assistanceForm">
            <label>Please specify your issue:</label>
            <br>
            <label *ngFor="let order of orders">
                <input type="radio" formControlName="orders" name="orders" [value]="order.id" (change)="alertme()"/>
                {{order.request}}
                <br>
            </label>
            <textarea formControlName="issue" rows="5"></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>
    <button type="button" class="back" onclick="window.location.href = '/';">Back to Menu</button>
</div>