<div class="assistance">
    <h2>ASSISTANCE REQUEST</h2>
    <form ngNativeValidate [formGroup]="assistanceForm" (ngSubmit)="onFormSubmit()">
        <div [formGroup]="assistanceForm">
            <label>Please specify your issue:</label>
            <br>
            <label formArrayName="requests" *ngFor="let request of assistanceForm.controls.requests.controls; let i = index">
                <input type="checkbox" [formControlName]="i" />
                {{requestlist[i].request}}
                <br>
            </label>
            <br>
            Other requests
            <textarea formControlName="issue" rows="5" ></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>
    <button type="button" class="back" onclick="window.location.href = '/';">Back to Menu</button>
</div>