<div class="assistance">
    <h2>ASSISTANCE REQUEST</h2>
    <form ngNativeValidate [formGroup]="assistanceForm" (ngSubmit)="onFormSubmit()">
        <div [formGroup]="assistanceForm">
            <label>Please specify your issue:</label>
            <br>
            <textarea formControlName="issue" rows="5" required></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>
    <button type="button" class="back" onclick="window.location.href = '/';">Back to Menu</button>
</div>