div {
    width:  100%;
}

h2{
    text-align: center;
}

.staff-list {
    color: #352728;
    list-style-type: none;
}

.staff, .archived-staff {
    width: 300px;
    margin: auto;
    margin-top: 20px;
    border-bottom: solid 0.5px;
    border-color: #35272862;
    background-color: #fcf7fb;
    padding: 20px;
}

.addEmp {
    width: 30%;
    background-color: #352728;
    color: #fcf7fb;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
    margin-left: 35%;
}

.addEmp:hover {
    background-color: #2f3f3a;
}

a, button {
    color: #352728;
    padding: 15px;
    background-color: #fcf7fb;
    border: none;
    padding: 5px;
    cursor: pointer;
    outline: none;
}

a .activated {
    color: #90694a;
}

.column1 {
    float: left;
    width: 60%;
}
.column2 {
    float: right;
    width: 35%;
    text-align: right;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

ul, li{
    margin: 0;
    padding: 0;
}

.archived-staff, .archived-staff li, .archived-staff a, .archived-staff button {
    color: grey;
}

.pad {
    text-align: center;
    padding-top: 20px;
    color: grey;
}

.addEmp:hover {
    background-color: #35272880;
}