<div>
    <h2>STAFF</h2>
    
    <ul class="staff-list">
        <li *ngFor="let user of users$" class="staff">
            <b>{{ user.username }}</b>
            <div class="row">
                <div class="column1">
                    <ul class="staff-list">
                        <li>{{ user.first_name }} {{ user.last_name }}</li>
                        <li>{{ user.user_type }}</li>
                    </ul>
                </div>
                <div class="column2">
                    <a [routerLink] = "['edit', user.id]" [class.activated]="currentUrl == '/management/staff'">
                        <i class="material-icons">edit</i>
                    </a>
                    <button (click)="deleteUser( user.id )" class="delete">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
              </div>
        </li>
    </ul>

    <button type="button" class="addEmp" onclick="window.location.href='/management/staff/register'">Add Employee</button>

</div>