<div class="register-form">
    <h2>Add Staff Member</h2>
    <form action="" method="post">
        <input type="text" placeholder="First Name" name="fname" required>
        <input type="text" placeholder="Last Name" name="lname" required>
        <input type="text" placeholder="Employee ID" name="fname" required>
        <input type="password" placeholder="Password" name="psw" required>
        <span class="position"><p>Select Position:</p></span>
        <span class="position">
            <select id="emplyeeType" required>
                <option value="manager">Manager</option>
                <option value="waiter">Waiter</option>
                <option value="kitchen">Kitchen</option>
            </select>
        </span>
        <button type="submit">Save</button>
    </form>
</div>

