.assistance-requests, .kitchen-orders, .order-pickups {
    text-align: center;
    width: 300px;
    margin: auto;
}

li {
    list-style: none;
}

button {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    height: 40px;
    width: 100%;
    color: #352728;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    box-shadow: 2px 2px 2px grey;
}

button:active {
    transform: translateY(2px);
    box-shadow: 1px 1px 2px grey;
}

.assistance {
    background-color: #c7e8f7;
}

.assistance:hover {
    background-color: #9bdaf8;;
}

.orders {
    background-color: #fdcfd7;
}

.orders:hover {
    background-color: #faabb9;
}

.pickups {
    background-color: #abc2ba;
}

.pickups:hover {
    background-color: #7ac0a8;
}

.resolved {
    background-color: #fcf7fb;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    text-decoration: underline;
    box-shadow: none;
    font-size: smaller;
}

.resolved:active {
    transform: none;
    box-shadow: none;
}

