<div class="pickup">
    <div *ngIf="transaction$">
        <h1>Customer Order</h1>
        <p><b>No. {{ transaction$.id }}</b></p>
        <p>Order Details: </p>
        <div *ngFor="let item of transactionFoodItems">
            <div *ngIf="item.transaction == transaction$.url">
                <p><b>{{ getFoodItemName(item.food_item) }}</b><p>
                <ng-container *ngIf="item.extras.length > 0">
                    <p>Extras: {{ getExtraNames(item.extras) }}</p>
                </ng-container>
                <ng-container *ngIf="item.request">
                    <p>Request: {{ item.request }}</p>
                </ng-container>
            </div>
        </div>        
        <button (click)="pickup()" class="resolve">Mark as picked up</button>
        <button (click)="back()" class="back">Back to Categories</button>
    </div>
</div>
