<div class="cart">
    <h2>Cart</h2>
    <div *ngIf="items?.length; else elseBlock">
        <table>
            <td class="table-field">Item</td>
            <td class="table-field">Price</td>
            <td class="table-field">Size</td>
            <td class="table-field">Remove</td>
            <tr *ngFor="let item of items">
                <td><a href="/add/{{ item.id }}">{{ item.name }}</a></td>
                <td>${{ item.price }}</td>
                <td> {{ item.size }}</td>
                <td>
                    <button (click)="deleteFromCart(item)" class="delete">
                        <i class="material-icons">delete</i>
                    </button>
                </td>
            </tr>
            <td class="total">Total</td>
            <td class="total">${{ total_price }}</td>
        </table>
        <br/>
        <button type="button" class="side-button" onclick="window.location.href = '/checkout';">Checkout</button>
        <button type="button" class="side-button" (click)="clearCart()">Clear cart</button>
    </div>
    <ng-template #elseBlock>
        Your cart is empty!
    </ng-template>
    <button type="button" class="long-button" onclick="window.location.href = '/';">Back to Menu</button>

</div>
