<div class="cart">
    <h2>Cart</h2>
    <div *ngIf="items?.length; else elseBlock">
        <table>
            <td class="table-field1"></td>
            <td class="table-field2"></td>
            <td class="table-field3"></td>
            <ng-container *ngFor="let item of items | removeDuplicates" class="items">
                <tr class="item">

                    <td>
                        <button (click)="deleteFromCart(item)" class="delete">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                    <td>
                        <b>{{ count(item) }} x {{ item.name }}</b>
                        <p>{{ item.size }}</p>
                        <p>{{ item.request }}</p>
                    </td>
                    <td class="price">
                        ${{ item.price * count(item) }}
                    </td>
                </tr>
                <tr *ngFor="let extra of item.extras" >
                    <td></td>
                    <td>
                        + {{ extra.name }}
                    </td>
                    <td style="text-align: right;">${{ extra.price * count(item)}}</td>
                </tr>
                <tr></tr>
            </ng-container>
        </table>
        
        <span class="total">Total</span>
        <span class="total-price">${{ total_price }}</span>

        <button type="button" class="order" onclick="window.location.href = '/checkout';">Checkout</button>

    </div>

    <div class="buttons">
        <button type="button" class="back" onclick="window.location.href = '/';">Back to Menu</button>
        <button type="button" class="clear" (click)="clearCart()">Clear cart</button>
    </div>

    <ng-template #elseBlock>
        <div class="alert">
            Your cart is empty!
        </div>
    </ng-template>

</div>
