    <div class="login-form">
        <h2>STAFF LOGIN</h2>
        <form ngNativeValidate (ngSubmit)="loginUser()">
            <div class="error">{{ error }}</div>
            <input type="text" [(ngModel)]="username" placeholder="Employee ID" name="username" required>
            <input type="password" [(ngModel)]="password" placeholder="Password" name="password" required>
            <button type="submit">LOGIN</button>
        </form>
        <a class="home" routerLink = "">Return Home</a>
    </div>
