<div>
    <h1>Your order has been placed!</h1>
    <br>
    <p><b>Your order number is:</b></p>
    <b><h1>{{ id }}</h1></b>
    <br>
    <p *ngIf="!complete else elseBlock;">
        Please wait for a waiter to call your number. Do not leave this page until you have received your order.
    </p>
    <ng-template #elseBlock>
        <p>Your order is ready! Please head to the counter to pick it up.</p>
        <button class="orderDone" (click)="menu()">I have received my order</button>
    </ng-template>
</div>
