<div>
    
    <h2>MENU</h2>
    
    <ul class="extras">
        <div class="row">
                
            <div class="column1">
                <b>Extras</b>
            </div>
        </div>

        <div class="items">
            <ul *ngFor="let extra of extras$" class="item">
                <div *ngIf="extra.active">
                    <div class="row">
                        
                        <div class="column1">
                            {{ extra.name }}
                            <p>${{ extra.price }}</p>
                        </div>
                        
                        <div class="column2">
                            <a [routerLink] = "['edit-extra', extra.id]" [class.activated]="currentUrl == '/management/menu'">
                                <i class="material-icons">edit</i>
                            </a>
                            <button (click)="archiveExtra( extra.id )" class="archive">
                                <i class="material-icons">archive</i>
                            </button>
                            <button (click)="deleteExtra( extra.id )" class="delete">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                    
                    </div>
                </div>
            </ul>

            <div class="line">
                <p>Archived Extras:</p>
                <ul *ngFor="let extra of extras$" class="item">
                    <div *ngIf="!extra.active">
                        <div class="row2">
                        
                            <div class="column1">
                                {{ extra.name }}
                                <p>${{ extra.price }}</p>
                            </div>
                        
                            <div class="column2">
                                <a [routerLink] = "['edit-extra', extra.id]" [class.activated]="currentUrl == '/management/menu'">
                                    <i class="material-icons">edit</i>
                                </a>
                                <button (click)="unarchiveExtra( extra.id )" class="archive">
                                    <i class="material-icons">add</i>
                                </button>
                                <button (click)="deleteExtra( extra.id )" class="delete">
                                    <i class="material-icons">delete</i>
                                </button>
                            </div>
                    
                        </div>
                    </div>
                </ul>
            </div>
            <a [routerLink] = "['add-extra']" [class.activated]="currentUrl == '/management/menu'">Add Extra</a>
        </div>
    </ul>


    <ul class="category-list">
        <ul *ngFor="let category of categories$" >
            <div *ngIf="category.active" class="category">
            
                <div class="row">
                
                    <div class="column1">
                        <b>{{ category.name }}</b>
                    </div>
                
                    <div class="column2">
                        <a [routerLink] = "['edit-category', category.id]" [class.activated]="currentUrl == '/management/menu'">
                            <i class="material-icons">edit</i>
                        </a>
                        <button (click)="archiveCategory( category.id )" class="archive">
                            <i class="material-icons">archive</i>
                        </button>
                        <button (click)="deleteCategory( category.id )" class="delete">
                            <i class="material-icons">delete</i>
                        </button>
                    </div>
            
                </div>
            
                <div class="items">
                
                    <ul *ngFor="let item of items$" class="item">
                        <div *ngIf="category.url === item.category && item.active">
                            <div class="row">
                            
                                <div class="column1">
                                    {{ item.name }}
                                    <p>{{ item.description }}</p>
                                    <p>${{ item.price }}</p>
                                </div>
                            
                                <div class="column2">
                                    <a [routerLink] = "['edit-item', item.id]" [class.activated]="currentUrl == '/management/menu'">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <button (click)="archiveItem( item.id )" class="archive">
                                        <i class="material-icons">archive</i>
                                    </button>
                                    <button (click)="deleteItem( item.id )" class="delete">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                        
                            </div>
                        </div> 
                    </ul>

                    <div class="line">
                        <p>Archived Items:</p>
                        <ul *ngFor="let item of items$" class="item">
                            <div *ngIf="category.url === item.category && !item.active">
                                <div class="row2">
                            
                                    <div class="column1">
                                        {{ item.name }}
                                        <p>{{ item.description }}</p>
                                        <p>${{ item.price }}</p>
                                    </div>
                            
                                    <div class="column2">
                                        <a [routerLink] = "['edit-item', item.id]" [class.activated]="currentUrl == '/management/menu'">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <button (click)="unarchiveItem( item.id )" class="archive">
                                            <i class="material-icons">add</i>
                                        </button>
                                        <button (click)="deleteItem( item.id )" class="delete">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </div>
                        
                                </div>
                            </div> 
                        </ul>
                    </div>

                </div>
            
                <a [routerLink] = "['add-item', category.id]" [class.activated]="currentUrl == '/management/menu'">Add Item</a>
        
            </div>

        </ul>
    </ul>
    
    <div class="category-form">
        <form ngNativeValidate (ngSubmit)="addCategory()">
            <input type="text" [(ngModel)]="name" name="name" placeholder="Add Category" required>
            <button type="submit" class="save">Save</button>
        </form>
    </div>

        
        <ul class="archived-category-list">
            <p class="pad">Archived Categories:</p>
            <ul *ngFor="let category of categories$">
                <div *ngIf="!category.active" class="archived-category">
                
                    <div class="row">
                    
                        <div class="column1">
                            <b>{{ category.name }}</b>
                        </div>
                    
                        <div class="column2">
                            <a [routerLink] = "['edit-category', category.id]" [class.activated]="currentUrl == '/management/menu'">
                                <i class="material-icons">edit</i>
                            </a>
                            <button (click)="unarchiveCategory( category.id )" class="archive">
                                <i class="material-icons">add</i>
                            </button>
                            <button (click)="deleteCategory( category.id )" class="delete">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                
                    </div>
                
                    <div class="items">
                    
                        <ul *ngFor="let item of items$" class="item">
                            <div *ngIf="category.url === item.category">
                                <div class="row">
                                
                                    <div class="column1">
                                        {{ item.name }}
                                        <p>{{ item.description }}</p>
                                        <p>${{ item.price }}</p>
                                    </div>
                                
                                    <div class="column2">
                                        <a [routerLink] = "['edit-item', item.id]" [class.activated]="currentUrl == '/management/menu'">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <button (click)="deleteItem( item.id )" class="delete">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </div>
                            
                                </div>
                            </div>
                        </ul> 
                    </div>
    
                    <a [routerLink] = "['add-item', category.id]" [class.activated]="currentUrl == '/management/menu'">Add Item</a>
            
                </div>

            </ul>
    
        </ul>

</div>