h2{
    text-align: center;
    margin-bottom: 20px;
}

b {
    font-size: larger;
}

.category-list {
    color: #352728;
    list-style-type: none;
}

.category {
    margin-left: 8%;
    width: 75%;
    background-color: #fcf7fb;
    padding: 20px;
    border: solid 1px #352728;
    margin-top: 40px;
    margin-bottom: 10px;
}

.row, .row2 {
    display: flex;
    margin-bottom: 30px;
}

.row2 {
    color: grey;
    padding-top: 20px;
}

.row2 p, .line p{
    color: grey;
}

.line {
    border-top: solid 1px grey;
    padding-bottom: 20px;
}

.save {
    background-color: #352728;
    color: #fcf7fb;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
    margin-left: 10px;
}

input[type=text] {
    background-color: #fcf7fb;
    color: #352728;
    padding: 10px;
    border: solid 1px #352728;
    border-radius: 4px;
    outline: none;
    margin-top: 20px;
    margin-left: 8%;
}

a, button {
    color: #352728;
    padding: 0 5px;
    background-color: #fcf7fb;
    border: none;
    cursor: pointer;
    outline: none;
}

a .activated {
    color: #90694a;
}

i:hover {
    color: #352728e0;
}

.column1 {
    float: left;
    width: 50%;
}

.column2 {
    float: right;
    width: 50%;
    text-align: right;
    margin: auto;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

ul, li{
    margin: 0;
    padding: 0;
}

.items {
    margin-left: 20px;
}

p {
    font-size: small;
}

.archived-category-list {
    color: grey;
    margin-top: 40px;
}

.archived-category {
    margin-left: 8%;
    width: 75%;
    background-color: #fcf7fb;
    padding: 20px;
    border: solid 1px grey;
    margin-top: 40px;
    margin-bottom: 10px;
}

.archived-category-list p {
    color: grey;
}

.pad {
    margin-left: 8%;
}