* {
  font-family:monospace,monospace;
 }

 h1{
   font-size:30px
}

 h1,h2,h3,h4,h5,h6 {
   font-family:"Segoe UI",Arial,sans-serif;
   font-weight:400;
}


.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content{
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
  overflow-y: auto;
  padding: 25px;
}

button:focus {
  outline:0;
}
