.category {
    width: 100%;
    text-align: left;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: #3527284b;
    border-bottom: solid 1px #35272862;
}

.category:hover {
    background-color: #35272862;
}

.category:focus {
    background-color: #35272862;
    cursor: default;
}

.analytics {
    border: solid 1px #35272862;
    border-bottom: none;
}