<div class="analytics-page">
    <h2>By Category</h2>
    <div class="analytics">
        
        <div *ngFor="let category of categories$">
            
            <button type="button" class="category row" (click)="collapse(category.id)"><h3>{{ category.name }}</h3></button>
            
            <table *ngIf="open == category.id" style="width: 100%;">
                <tr style="text-align: left;">
                    <th>Item</th>
                    <th>Size</th>
                    <th>Ordered</th>
                    <th>Revenue</th>
                </tr>
                <tr *ngFor="let item of category.food_items">
                    <td>{{ item.name }}</td>
                    <td>{{ item.size }}</td>
                    <td>{{ item.total_orders }}</td>
                    <td>{{ item.total_revenue }}</td>
                </tr>
                <tr *ngFor="let extra of category.extras">
                    <td>{{ extra.name }}</td>
                    <td></td>
                    <td>{{ extra.total_orders }}</td>
                    <td>{{ extra.total_revenue }}</td>
                </tr>

            </table>
        
        </div>       

    </div>

</div>