.footer {
    width: 100%;
    background-color: #abc2ba;
    text-align: left;
    height: 55px;
    display: flex;
}

a {
    color: #352728;
    padding: 15px;
}

a .activated {
    color: #90694a;
}

i:hover {
    color: #352728e0;
  }