.footer {
    width: 100%;
    background-color: #abc2ba;
    text-align: left;
    height: 55px;
    bottom: 0;
    display: flex;
    position: absolute;
}

a {
    color: #352728;
    padding: 15px;
}
a .activated {
    color: #90694a;
}
